page-search-next-to-you {
        #linear-bg{
            background: linear-gradient(to bottom,white 0%,#488aff 100%);
        }
        agm-map {
            height: 250px;
          }
          ion-icon{
              
              margin-bottom: 5px;
              margin-right:10px;
          }
}
