page-emergency {
    .emergencyIcons{
        padding-right: 10%;
    }
    .rowInEmergency{
       padding-top: 5% !important;
    }

    #emergency{
        background: linear-gradient(to bottom,#f53d3d 0%,white 100%);
    }

    #emergencyBtns{
        width : 100% ;
    }
}
